#logo img
{
    height:148px;
    width:160px;
}
#otp
{
    height:400px;
    width:350px;
    margin-left:540px;
    border:1px solid rgb(222, 222, 222);
    background-color: #f3f1f1;
}
h3{
        
      margin-left:45px;
}
input[type="text"]
{
    height:40px;
    width:230px;
    margin-left:45px;
    padding-left:20px;
    border:1px solid rgb(237, 237, 237);
}
#submit
{
    height:0px;
    width:0px;
    
}
#submit_button
{
    height:20px;
    padding:10px;
    width:80px;
    background-color:black;
    color:white;
    margin-left:100px;
    padding-left:30px;
    border-radius:10px;
}
a{
    text-decoration: none;
}
#step_back
{
    height:0px;
    width:0px;
    float:left;
    margin-left:30px;
    margin-top:5px;
}
#back
{
    height:40px;
    width:100px;
    color:white;
    border-radius:10px;
    padding-bottom:13px;
    text-align:center;
    
    background-color:black;
    border:1px solid black;
}
#step_next
{
    margin-top:5px;
    height:0px;
    width:0px;
    float:right;
    margin-right:130px;
    
}
#NEXT
{
    border:2px solid black;
    height:40px;
    width:100px;
    background-color:black;
    color:white;
    border-radius:10px;
    text-align:center;
}
#NEXT {
    padding-bottom:13px;
}

